@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 37, 37);
}

.button_cont {
    cursor: pointer;
}

span {
    text-decoration: none;
    letter-spacing: 2px;
}

.button-text {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button-text:hover {
    color: rgb(37, 37, 37) !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #ffffff;
    box-shadow: 0px 5px 40px -10px rgba(255,255,255,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.button-text:active {
    transform: translateY(3px);
}